/* Nav menu -----------------------*/
.nav-list {
    display: flex;
    gap: 1rem;
    margin: 0%;
    margin-right: 1rem;
    padding: 1rem;
    border-radius: 5px;
    list-style: none;
    background-color: #cf9187;
}


nav a {
    padding: 3px;
    border-radius: 5px;
    text-decoration: none;
    color: #F0E4D3;
    list-style: none;
}

nav a:hover,
nav a.active {
    background: hsla(0, 37%, 34%, 0.137);
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 1000%;
    width: 100%;
    height: 80px;
    margin: 0px;
    padding: 0px;
    background-color: #D9A299;
}

h1 {
    color: #FAF7F3;
    margin-left: 1rem;
}

/*Body --------------------------------- */

body {
    background-color: #F0E4D3;
    padding-top: 80px;
}

.main-section {
    padding: 3rem;
    margin: 0;
    border-radius: 5px;
    font-size: large;
    position: left;
    background-color: #FAF7F3;
}

/*Footer --------------------------------*/

.footer-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #555;
    background-color: #FAF7F3;
}

.footer-border {
    border-top: 1px solid #555;
    padding-top: 0.25rem;
    display: inline-block;
}

/*Home page banner ---------------------*/
.banner {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.banner-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: clamp(1.2em, 4vw, 2.2rem);
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 480px) {
    .banner-text h1 {
        padding: 0 10px;
        font-size: 2rem;
    }
}

/*Home page main */
.home-text p {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
}


/*About page ---------------------------*/
.about-me {
    font-family: 'Times New Roman', Times, serif;
}

.about-me .about-container {
    display: flex;
    padding: 3.5rem;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #D9A299;
}

.about-me .about-text {
    padding: 1rem;
    background-color: #cf9187;
    border-radius: 5px;
    flex: 1;
    text-align: justify;
    margin-right: 2rem;
    min-width: 280px;
}

.about-me .about-text h2 {
    font-size: 50px;
    margin-bottom: 0.5rem;
    font-weight: bolder;
}

.about-me .about-text h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    font-weight: 100;
}

.about-me .about-text p {
    font-size: 1rem;
    line-height: 1.6;

}

/*About page image*/
.Velvet {
    height: 900px;
}

.Velvet img {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    object-fit: cover;
    background-color: #cf9187
}

.about-me .fig-comment {
    background-color: #e0aea6;
    border-radius: 5px;
    margin-top: 0;
    font-style: italic;
    font-size: 15px;
    text-align: center;
}

/*About page hobby list*/
.hobbies {
    margin-top: 1rem;
    padding: 2rem;
    text-align: left;
    border-radius: 5px;
    background-color: #cf9187;
}

.hobbies h4 {
    font-size: 30px;
    margin-bottom: 1rem;
    font-weight: 100;
}

.hobbies .hobbies-list {
    display: inline-block;
    text-align: left;
    padding-left: 1.5rem;
}

/*Curriculum vitae---------------------*/
.cv-main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2rem;
    gap: 2rem;
    border-radius: 5px;
    background-color: #D9A299;
    font-family: 'Times New Roman', Times, serif;
}

/*CV left side*/
.cv-left {
    background-color: #cf9187;
    padding: 2rem;
    border-radius: 5px;
}

.cv-left h1 {
    font-weight: bold;
    font-size: 50px;
    color: #F0E4D3;
    margin-bottom: 1rem;
    border-bottom: 2px solid #555;
}

.cv-left {
    margin-top: 0rem;
    padding-bottom: 0.25rem;
}

.cv-left p {
    margin: 0.5rem 0;
}

/*CV right side*/
.cv-right {
    background-color: #D9A299;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
}

.cv-right h2 {
    border-bottom: 2px solid #555;
    padding-bottom: 0.25rem;
    margin-bottom: 0.75rem;
}

.cv-right ul {
    list-style: circle;
    margin-top: 0.5rem;
}

@media (max-width: 900px) {
    .cv-main {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
    .cv-left, .cv-right {
        padding: 1.5rem;
    }
}

@media (max-width: 500px) {
    .cv-left h1 {
        font-size: 2rem;
    }
    .cv-left, .cv-right {
        font-size: 0.95rem;
    }
}

/*Art gallery heading ------------------*/
.container {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.container .heading {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    padding-bottom: 20px;
}

.container .heading h3 {
    font-size: 3rem;
    font-weight: bold;
    border-bottom: 3px solid #555;
    margin: 0;
}

.container .heading h3 span {
    font-weight: 100;
}

/*Art gallery*/

.art-gallery-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    padding: 0.5rem;
    justify-content: center;
}

.note {
    flex: 1 1 calc(16.66% - 10px);
    max-width: 200px;
    background: #D9A299;
    border: 2px solid #cf9187;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
}

.note:hover {
    transform: scale(1.25);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.note img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
}

.desc {
    padding: 0.25rem;
    font-size: 1rem;
    color: #FAF7F3;
}

@media (min-width: 1200px) {
    .note {
        flex: 1 1 calc(16.66% - 10px);
    }
}

@media (max-width: 990px) {
    .note {
        flex: 1 1 calc(25% - 10px);
    }
}

/*Contact form */
.contact-container {
    background-color:#D9A299;
    padding: 2rem;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    max-width: 700px;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
}

.contact-container h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 1rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-weight: 100;
    margin-bottom: 0.4rem;
}

.contact-form textarea {
    font-family: 'Times New Roman', Times, serif;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: #F0E4D3;
    font-size: 1rem;
    height: 200px;
    resize: none;
    border: none;
}

.contact-form input{
    background-color: #F0E4D3;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
}

